
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
    <head>
        <link href="~/Content/bootstrap-theme.css" />
        <link href="~/Content/bootstrap.min.css" />
        <link href="~/Scripts/bootstrap.min.js" />
    </head>
<body></body>
</html>

